* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --maincolor: #f4eaf1;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
h3 {
  font-size: 20px;
}
.container {
  background: var(--maincolor);
  font-family: "Nanum Myeongjo", serif;
  max-width: 1440px;
  margin: 0 auto;
}
